html {
  font-size: 18px;
  font-family: Helvetica;
}

.container {
  width: 960px;
  height: 100%;
  margin: 0 auto;
  border: 1px solid orange;
}

header {
  display: block;
  width: 100%;
  background-color: black;
  color: white;
  justify-content: center;
}

header .container {
  display: flex;
  align-items: center;
}

.logo {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

header h3 {
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

.main-banner {
  display: block;
  width: 100%;
  height: 25rem;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-size: cover;
}

.black-box {
  display: block;
  width: 20rem;
  background-color: black;
  color: white;
  margin-top: 9rem;
  padding: 2rem 3rem;
}

.black-box h3 {
  font-weight: bold;
  padding-bottom: 0.25rem;
}

.black-box h1 {
  font-size: 2rem;
  font-weight: bold;
}

.navigation {
  display: block;
  width: 100%;
  background-color: firebrick;
}

.navigation .container {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0 0.75rem 0;
  align-items: center;
  color: white;
}

.product-grid {
  display: block;
  width: 100%;
}

.product-grid .container {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0 3rem 0;
}

.contact {
  display: block;
  width: 100%;
}

.contact .container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4rem;
}

.location, .hours {
  display: block;
  width: 35%;
}

.contact h3 {
  background-color: black;
  color: white;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0.25rem;
}

footer {
  display: block;
  height: 5rem;
  width: 100%;
  background-color: black;
  color: white;
}

footer .container {
  height: 100%;
  display: flex;
  align-items: center;
}
